@import "../../../style/variables";
@import "../../../style/mixin";

section {
  margin-top: 20px;

  form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    input,
    select,
    textarea {
      border: gray;
      padding: 10px;
      font-size: 1.2rem;
      border-radius: 0.3rem;
    }

    .submitButton {
      background-color: $primaryButton;
      @include buttonStyle;
    }

    .deleteButton {
      background-color: $warningButton;
      @include buttonStyle;
    }
  }
}
