@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");

//Colors
$backgroundColor: #f9f5ff;
$fontPrimary: #42307d;
$titleColor: #101828;
$paragraphColor: #475467;
$primaryButton: #2e2158;
$warningButton: palevioletred;

//Font
$primaryFont: Inter, "sans-serif";
